<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python D'oh!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="menu">
    <h1>Los Sinson</h1>

    <button onclick="window.location.href='{{ url_for('jugar') }}'">Jugar</button>
    <button>Reglas</button>
    <button>Ranking</button>
    <button>Salir</button>
</div>
    
</body>
</html>