<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Simpson - Jugar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="menu">
    {% if pregunta %}
        <h2>{{ pregunta.texto }}</h2>
        
        <div class="opciones">
            <button class="btn-opcion">{{ pregunta.opcion1 }}</button>
            <button class="btn-opcion">{{ pregunta.opcion2 }}</button>
            <button class="btn-opcion">{{ pregunta.opcion3 }}</button>
            <button class="btn-opcion">{{ pregunta.opcion4 }}</button>
        </div>
        
        <br><br>
        {% if siguiente_id is not none %}
            <button onclick="window.location.href='{{ url_for('jugar', pregunta_id=siguiente_id) }}';">Siguiente Pregunta</button>
        {% else %}
            <button disabled>Juego Terminado</button>
        {% endif %}
    {% else %}
        <h2>No hay más preguntas.</h2>
    {% endif %}

    <br><br>
    <button onclick="window.location.href='{{ url_for('inicio') }}';">Volver al Inicio</button>
</div>

</body>
</html>
